*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
li a:hover {

  color: #b442c3;
}
.logo-container, .nav-links {
  display: flex;
}
.logo-container {
   flex: 1;

}
.logo-container img {
  display: flex;
  width: 40px;
  height: 25px;
}
.logo {
  font-weight: 400;
  margin: 5px;
}
nav {
  flex: 2;


}
.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}
.div1 {
  align-items: center;
  justify-content: center;

}
h1, h2, h3 {
  align-items: center;
  align-content: center;
  justify-content: center;
}
div2 {
  height: 30vh;
  color: white;
  background: white;
}
footer .conclude {
  display: flex;
  background: #b442c3;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
